@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  text-align: center;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 20px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;

}

.card-container .card {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card-container .card .card-body {
  padding: 1rem;
}


.card-container .card .card-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-container .card .btn {
  width: 70%;
}

.card-container .card .card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.cart-value {
  position: fixed;
  right: 0;
  padding: 15px;
  top: 0;
  font-size: larger;
}